%h1 Listing group_members

%tabl
  %tr
    %th User
    %th Groups
    %th
    %th
    %th

-@group_members.each do |group_member|
  %tr
    %td= group_member.user_id
    %td= group_member.groups_id
    %td= link_to 'Show', group_member
    %td= link_to 'Edit', edit_group_member_path(group_member)
    %td= link_to 'Destroy', group_member, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Group member', new_group_member_path
