%p#notice= notice

%p
  %b User:
  = @group_member.user_id

%p
  %b Groups:
  = @group_member.groups_id


= link_to 'Edit', edit_group_member_path(@group_member)
|
= link_to 'Back', group_members_path
