%p#notice= notice

%p
  %b Name:
  = @group.name

%h3 Members
- if @group.users.empty?
  %h5
    There are no group members :(
    = link_to "Add a New Member!", new_group_member_path
- else
  %ul
    - @group.users.each do |user|
      %li
        - #passing a block of text to a link_to
        = link_to user do
          = gravatar_for user, :size => '25x25'
          = user.name


  %h2
    -# determine the language based on whether or not there is an active vote
    - if Round.where(is_active:true & group_id = @group.id).empty?
      = link_to "Create Vote!", new_nomination_path
      -# Create a new Round in the database
      - Round.create!(:group_id => @group.id, :name => "Lunch_test", :is_active => 1)

    - else

      = link_to "Enter The Vote!", new_nomination_path


= link_to 'Back', groups_path
