= form_for(@nomination) do |f|
  - if @nomination.errors.any?
    #error_explanation
      %h2= "#{pluralize(@nomination.errors.count, "error")} prohibited this nomination from being saved:"
      %ul
      - @nomination.errors.full_messages.each do |msg|
        %li= msg

  .field
    = f.hidden_field :user_id, :value => "#{current_user.id}", :readonly => "true"
    = f.hidden_field :round_id, :value => "#{current_round}", :readonly => "true"

  .field
    %h3
      Pick a Place or
      = link_to "Add New Place", :action => "new", :controller => "places"
    %ul
      - previousNominations.each do |nomination|

        %li
          = f.radio_button :place_id, "#{nomination.place.id}"
          = f.label :place_id, "#{nomination.place.name}", :for => "nomination_place_id_#{nomination.place.id}"
      = if addPlace
        %li
          = f.radio_button :place_id, "#{addPlace}"
          = f.label :place_id, "#{addPlaceName}", :for => "nomination_place_id_#{addPlace}"
  .actions
    = f.submit

