= form_for(@vote) do |f|
  - if @vote.errors.any?
    #error_explanation
      %h2
        = pluralize(@vote.errors.count, "error")
        prohibited this vote from being saved:
      %ul
        - @vote.errors.full_messages.each do |msg|
          %li= msg
  .field(style="display:none")
    = f.text_field :user_id, :value => current_user.id
  .field(style="display:none")
    = f.text_field :round_id, :value => current_round

  %table
    - # For each Place generate a text box and a count
    - @current_place_id = 0
    - nominations = get_nominations
    - nominations.each do |nomination|
      -if @current_place_id != nomination.place.id
        %tr
          %td
            = f.label :place_id, nomination.place.name
            - @current_place_id = nomination.place.id
          %td
            = f.text_field :tally, :value => 0, :size => 2
          %td
            %ul
              %li.add_vote
                Add
              %li.remove_vote
                Remove

          = f.hidden_field :place_id, :value => nomination.place.id




  .actions
    = f.submit "Submit Vote"