%h1 Viewing Voting Results\
-# tally up all the votes from the current round of the current group
-# list the places from highest votes to lowest votes
= tally_votes

-#
  %h1 New vote
  = render 'form'
  = link_to 'Back', votes_path
  %p#notice= notice
  %p
    %b User:
    = @vote.user_id
  %p
    %b Round:
    = @vote.round_id
  %p
    %b Place:
    = @vote.place_id
  %p
    %b Tally:
    = @vote.tally
  = link_to 'Edit', edit_vote_path(@vote)
  |
  \#{link_to 'Back', votes_path}