<!DOCTYPE html>
%html
  %head
    %title
      Disluncho
    %script{:type => "text/javascript",
            :src  => "http://code.jquery.com/jquery-latest.js"}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tag

  %body{:id => "#{controller.controller_name}-#{controller.action_name}"}
    = render :partial => "shared/header"
    - flash.each do |key, value|
      .flash
        = key
        = value

  = yield